In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
df = pd.read_csv(filepath_or_buffer = '04_gap-merged.tsv', sep='\t')
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
3307     Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308     Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309     Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310     Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[3312 rows x 6 columns]

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(df.shape)

(3312, 6)

In [6]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [7]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
print(df.tail())

       country continent  year  lifeExp       pop   gdpPercap
3307  Zimbabwe    Africa  1987   62.351   9216418  706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340  693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948  792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563  672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [13]:
subset = df['country', 'year'] ## FIXME
print(subset)

KeyError: ('country', 'year')

In [14]:
df.iloc[0] # First row

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [15]:
df.iloc[-1] # Last row

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 3311, dtype: object

In [23]:
df.iloc[0:2,0:1]

       country
0  Afghanistan
1  Afghanistan

In [18]:
df.iloc[0:5, 2:4]

   year  lifeExp
0  1952   28.801
1  1957   30.332
2  1962   31.997
3  1967   34.020
4  1972   36.088